<div class="popover" tabindex="-1" >
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
        <form name="rangerForm" class="form" role="form">
            <label class="control-label">От:</label><br>
            <input type="text" class="form-control" ng-model="rangeData.valueFrom" />
            <label class="control-label">До:</label><br>
            <input type="text" class="form-control" ng-model="rangeData.valueUntil" />
            <br />
            <angular-ranger min="{{rangeData.min}}" max="{{rangeData.max}}" step="1" min-value="rangeData.valueFrom" max-value="rangeData.valueUntil"></angular-ranger>
            <br />
            <div class="form-actions">
                <button type="button" class="form-control btn btn-primary" ng-click="rangeData.onRangeChange();$hide()">Save changes</button>
            </div>
        </form>
    </div>
</div>