<div class="popover" tabindex="-1">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
        <form name="datepickerForm" class="form" role="form">
            <div class="form-group">
                <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> <i class="glyphicon glyphicon-resize-horizontal"></i> <i class="glyphicon glyphicon-calendar"></i></label><br>
                <div class="form-group col-xs-6">
                    <input type="text" class="form-control" ng-model="creationDateFilterData.dateFrom" data-start-date="{{creationDateFilterData.dateFrom}}" data-max-date="{{creationDateFilterData.dateUntil}}" placeholder="От" bs-datepicker>
                </div>
                <div class="form-group col-xs-6">
                    <input type="text" class="form-control" ng-model="creationDateFilterData.dateUntil" data-min-date="{{creationDateFilterData.dateFrom}}" placeholder="До" bs-datepicker>
                </div>
                <br />
                <div class="form-actions">
                    <button type="button" class="form-control btn btn-primary" ng-click="creationDateFilterData.onDateChange();$hide()">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>